/* ============================= */
/* ===== PREMIUM NAVBAR ======= */
/* ============================= */

.bottom-nav{
  position:fixed;
  bottom:22px;

  left:0;
  right:0;
  margin:auto;

  width:94%;
  height:76px;

  display:flex;
  align-items:center;
  justify-content:space-around;

  border-radius:50px;

  background:linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.02)
  );

  backdrop-filter:blur(28px);

  border:1px solid rgba(255,255,255,0.15);

  box-shadow:
    0 25px 70px rgba(0,0,0,0.7),
    inset 0 0 25px rgba(255,255,255,0.05);

  z-index:999;
}

/* NAV BUTTON */
.nav-link{
  width:60px;
  height:60px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:22px;
  position:relative;
  z-index:2;
  text-decoration:none;

  transition:
    transform .2s ease,
    box-shadow .2s ease;
}

.nav-link i{
  font-size:22px;
  color:#00eaff;
  opacity:.5;

  transition:
    transform .2s ease,
    opacity .2s ease,
    color .2s ease;
}

/* ACTIVE */
.nav-link.active i{
  color:#000;
  opacity:1;
  transform:scale(1.08);
}

.nav-link.active{
  box-shadow:0 0 18px rgba(0,234,255,.4);
}

/* PRESS */
.nav-link:active{
  transform:scale(.9);
}

/* INDICATOR */
.nav-indicator{
  position:absolute;
  top:8px;
  left:0;

  width:60px;
  height:60px;

  border-radius:22px;

  background:linear-gradient(135deg,#00eaff,#0099ff);

  box-shadow:
    0 0 25px #00eaff,
    0 0 60px rgba(0,234,255,.7);

  transition:
    transform 0.55s cubic-bezier(.34,1.56,.64,1);

  will-change: transform;
  transform: translateZ(0);

  z-index:1;
}